# Advance Py Lect 1

In [1]:
from warnings import filterwarnings
filterwarnings("ignore")

# Built in  Function

In [1]:
print("Helllo world")

Helllo world

In [2]:
print(2* 6)

12

In [3]:
a = [2,33,45,6,9,5]
len(a)

6

In [4]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

# User Defined Function

In [7]:
def add(a : int | float , b:int|float) :
    """
    This Function Returns Additiom of two numbers
    """
    c = a+b
    return c

In [8]:
a1 = add(45,32)
a1

77

In [10]:
type(a1)

int

In [12]:
a2 = add(2.2,98)
a2

100.2

In [13]:
type (a2)

float

# Keyword Arguments

In [14]:
add(a = 21 , b = 67)

88

In [15]:
add(3,7,9)

TypeError: add() takes 2 positional arguments but 3 were given

In [16]:
add(5)

TypeError: add() missing 1 required positional argument: 'b'

 # If we defined a 2 parameter / arguments in function but afterword we give a more than 2 or less than 1 then it will give a error .

# Varidac Function 

1.func(*args):
2.*args act like a tuples here in python

In [17]:
def func(*args):
    print(args,type(args))
    for i in args:
        print(i)
    return args

In [18]:
b1 = func(2,3)

(2, 3) <class 'tuple'>
2
3

In [19]:
b1

(2, 3)

In [20]:
b2 = func(4, 5, "Example", True, 5.4, 10.5, False)

(4, 5, 'Example', True, 5.4, 10.5, False) <class 'tuple'>
4
5
Example
True
5.4
10.5
False

In [21]:
b3 = func("Sahil","Yash","Sanjay")

('Sahil', 'Yash', 'Sanjay') <class 'tuple'>
Sahil
Yash
Sanjay

# write a function to add any amount of number

In [25]:
def add_multiply(*args):
    # Initialize sum to 0
    s = 0

    # apply for loop on args
    for i in args:
        s = s + i
        
    # Return the value of s
    return s

In [26]:
add_multiply (3,5,7,9)

24

In [27]:
add_multiply(5,7,8,9,10,11)

50

In [28]:
range(1,101)

range(1, 101)

In [30]:
c = list(range(1,101))
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [31]:
# unpack and provide list / tuple as input here
add_multiply(*c)

5050

# Billing Example

In [32]:
cart1 = [
    ("Laptop",54000,2),
    ("Headphone",1400,3),
    ("Mouse",460,2),
    ("Mouse Pad",220,5)
]

In [33]:
def billing(cart_id: int, *args) -> int|float:
    # Intialize the total to 0
    total = 0

    # Print the cart id
    print(f"Cart Id : {cart_id}")
    # Apply for loop on args
    for product, price, qty in args:
        item_total = price*qty
        total = total + item_total
        print(f"Product : {product}, Price : {price} INR, Qty : {qty} Nos")
        print(f"Item Total : {item_total:.2f} INR")
        print("\n================================================================\n")

    # Show the total
    print(f"Final Total : {total:.2f} INR")
    return total

In [34]:
cart1

[('Laptop', 54000, 2),
 ('Headphone', 1400, 3),
 ('Mouse', 460, 2),
 ('Mouse Pad', 220, 5)]

In [35]:
c1 = billing(101,*cart1)

Cart Id : 101
Product : Laptop, Price : 54000 INR, Qty : 2 Nos
Item Total : 108000.00 INR

================================================================

Product : Headphone, Price : 1400 INR, Qty : 3 Nos
Item Total : 4200.00 INR

================================================================

Product : Mouse, Price : 460 INR, Qty : 2 Nos
Item Total : 920.00 INR

================================================================

Product : Mouse Pad, Price : 220 INR, Qty : 5 Nos
Item Total : 1100.00 INR

================================================================

Final Total : 114220.00 INR

In [36]:
c1

114220

In [37]:
c2 = billing(
    102,
    ("Gpu",50000,1),
    ("Ram",4500,2)
)

Cart Id : 102
Product : Gpu, Price : 50000 INR, Qty : 1 Nos
Item Total : 50000.00 INR

================================================================

Product : Ram, Price : 4500 INR, Qty : 2 Nos
Item Total : 9000.00 INR

================================================================

Final Total : 59000.00 INR

In [38]:
c2

59000

# Keyword Arguments in Python 
**Kwargs - This willact like a dictionary in Pythonn

In [39]:
d = {
    "a":1,
    "b":2,
    "c":3,
    "d":4
}

In [40]:
type(d)

dict

In [41]:
d["a"]

1

In [42]:
d["c"]

3

In [43]:
d.get("d")

4

In [44]:
print(d.get("e"))

None

In [45]:
d.get("e","N/A")

'N/A'

In [46]:
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [47]:
for key, value in d.items():
    print(f"{key} : {value}")

a : 1
b : 2
c : 3
d : 4